<div class="container-fluid" id="main-container">
	<div class="row clearfix" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= (is_editable) ? __("admin.distributors.distributor_edit") : __("admin.distributors.distributor_add"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<form id="add-edit-distributor" data-submit-btn-id="add-edit-distributor-btn-id" method="post" class="on_click_submit" role="form">
						<div class="row clearfix">
							<div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                    	<label for="state" class="control-label">
											<%= __("admin.distributors.state"); %><span class="required"> * </span>
										</label>
                                        <select class="form-control show-tick search_by_status" id="state" name="state">
                                            <option value=""><%=__("admin.distributors.select_state");%></option>
                                            <%
                            				selectState		= 	(result.state)   		? String(result.state) 		:"";
                                            if(stateList && stateList.length > 0){
                                                stateList.map(records =>{  
                                                var selectedFlag    = (typeof records.state_code !== typeof undefined && records.state_code  && records.state_code == selectState) ? "selected" : "";
                                                %>
												<option value="<%=records.state_code%>-<%=records.state_name%>" <%=selectedFlag%> ><%=records.state_name%></option>
                                            <%      
                                                });
                                            } %>
                                        </select>
                                    </div>
                                    <span id="state_error" class="error"></span>
                                </div>
                            </div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="name" class="control-label">
											<%= __("admin.distributors.name"); %><span class="required"> * </span>
										</label>
										<input type="text" id="name" class="form-control" name="name" value="<%=(result.name) ? result.name :''%>"/>
									</div>
									<span id="name_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="days" class="control-label">
											<%= __("admin.distributors.address"); %><span class="required"> * </span>
										</label>
										<textarea rows="4"  id="address" class="form-control no-resize "  name="address"><%= (result.address) ? result.address :''; %></textarea>
									</div>
									<span id="address_error" class="error"></span>
								</div>
							</div>
						</div>
						<button type="button" id="add-edit-distributor-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> ><i class="material-icons font-14">save</i> <%= __("admin.system.submit"); %></button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PLUGIN_PATH %>bootstrap-select/js/bootstrap-select.js"></script>

<script type="text/javascript">
	/**
	 * Function to submit form
	 */
	$('.btn-submit').click(function(){
		var btnId = $(this).attr('id');
		startTextLoading(btnId);
		ajax_submit('add-edit-distributor',function(status,response){
			if(status){
				window.location.href = response.redirect_url;
			}else{
				stopTextLoading(btnId);
			}
		});
	});
</script>
