<div class="container-fluid" id="main-container">
	<div class="row clearfix" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __('admin.newsletter_template.edit_newsletter_template'); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i><%= __('admin.system.back'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<!-- Multilanguage tabs -->
						<%- include ../../../elements/multilanguage_tabs.html %>
					<!-- Multilanguage tabs -->
					<form id="edit-newsletter-template" data-submit-btn-id="template-edit-btn-id" method="post" class="on_click_submit" role="form">
						<!-- Tab panes -->
						<div class="tab-content mt-20">
							<div class="row clearfix">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<label for="name" class="control-label">
												<%=  __('admin.newsletter_template.name'); %><span class="required"> *:</span>
											</label>
											
											<input type="text" id="name" class="form-control" name="name" value="<%= (result.name) ?  result.name : '';%>"/>
										</div>
										<span id="name_error" class="error"></span>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<label for="name" class="control-label"><%=  __('admin.newsletter_template.constant'); %> :</label>
											<select class="form-control" id="constant" name="constant">
												<option value=""><%=__("admin.newsletter_template.select_constant");%></option>
												<%
												if(typeof CONSTANT_FOR_NEWSLETTER_TEMPLATE!== typeof undefined && CONSTANT_FOR_NEWSLETTER_TEMPLATE.length > 0){
													CONSTANT_FOR_NEWSLETTER_TEMPLATE.map(records=>{ %>
														<option value="<%=records.constant_id %>"><%=records.constant_name%></option>
												<% 	});
												} %>
											</select>		
										</div>
									</div>
								</div>
								<div class="col-sm-4">									
									<button type="button" class="btn bg-indigo waves-effect m-t-25" onclick="insertHTML()">
										<i class="material-icons font-14">colorize</i> <%= __('admin.email_template.insert_variable'); %>
									</button>										
								</div>
							</div>
							

							<% 
							if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 1){ %>
								<div class="row clearfix seperator-line field-seperator"> <hr/> </div>
							<% 
							} 
							
							if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 0){


								language_list.forEach(function(languages){
									languageId 		= 	(languages._id) 		?  languages._id 		:'';
									languageCode 	= 	(languages.lang_code) 	?  languages.lang_code 	:'';
									name 			= 	(result.newsletter_descriptions && result.newsletter_descriptions[languageCode] && result.newsletter_descriptions[languageCode]['name']) 		?	result.newsletter_descriptions[languageCode]['name'] 		:"";
									subject 		= 	(result.newsletter_descriptions && result.newsletter_descriptions[languageCode] && result.newsletter_descriptions[languageCode]['subject']) 	? 	result.newsletter_descriptions[languageCode]['subject'] 	:"";
									body 			= 	(result.newsletter_descriptions && result.newsletter_descriptions[languageCode] && result.newsletter_descriptions[languageCode]['body']) 		? 	result.newsletter_descriptions[languageCode]['body'] 		:"";
								%>
									<div role="tabpanel" class="tab-pane multi-lang-tab-pane fade in <%= (languageCode == DEFAULT_LANGUAGE_CODE) ? 'active' : ''; %>" id="multi_lang_<%= languageCode; %>">
										<div class="row clearfix">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="form-line">
														<label for="subject_<%= languageCode; %>" class="control-label">
															<%=  __('admin.newsletter_template.subject'); %>
															<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
																<span class="required"> *</span>
															<% } %> :
														</label>
														<input type="hidden" name="newsletter_descriptions[<%= languageCode %>][language_id]" value="<%= languageId; %>"/>
														<input type="text" id="subject_<%= languageCode; %>" class="form-control" name="newsletter_descriptions[<%= languageCode %>][subject]" value="<%= subject; %>"/>
													</div>
													<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
														<span id="subject_error" class="error"></span>
													<% } %>
												</div>
											</div>
										</div>
										<div class="row clearfix">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="form-line">
														<label for="body_<%= languageCode; %>" class="control-label">
															<%=  __('admin.newsletter_template.body'); %>
															<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
																<span class="required"> *</span>
															<% } %> :
														</label> 
														<textarea rows="4"  id="body_<%= languageCode; %>" class="form-control no-resize ckeditor"  name="newsletter_descriptions[<%= languageCode %>][body]"><%= body; %></textarea>
													</div>
													<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
														<span id="body_error" class="error"></span>
													<% } %>
												</div>
											</div>
										</div>
									</div>
								<% 
								});
							} %>
						</div>
						<button type="button" id="template-edit-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> >
							<i class="material-icons font-14">save</i><%= __('admin.system.submit'); %>
						</button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	
<%- contentFor('script') %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
		CKEDITOR.replace('body_<%= languageCode; %>', { 
			imageUploadURL: '<%= WEBSITE_ADMIN_URL%>ckeditor_uploader/',
		});
		$(document).ready(function(){
			/**
			 * Function to submit form
			 */
			$('.btn-submit').click(function(){

				updateCkeditorValue();
				var btnId = $(this).attr('id');
				startTextLoading(btnId);
				ajax_submit('edit-newsletter-template',function(status,response){
					if(status){
						window.location.href = response.redirect_url;
					}else{
						changeTab('<%= DEFAULT_LANGUAGE_CODE %>');
						stopTextLoading(btnId);
					}
				});
			});
		});	
		
		/**
		* Function to insert htlm string in ck-editor
		*/
		function insertHTML() { 
			var strUser = document.getElementById("constant").value;
			if(strUser != ''){
				var newStr = '{'+strUser+'}';
				CKEDITOR.instances['body_<%= DEFAULT_LANGUAGE_CODE %>'].insertHtml(newStr);
			}
		}// end insertHTML()
	</script>
