<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a href="<%= WEBSITE_ADMIN_URL %>email_actions">
				<button type="button" class="btn bg-indigo waves-effect">
					Email Actions
				</button>
			</a>

			<a href="<%= WEBSITE_ADMIN_URL %>settings">
				<button type="button" class="btn bg-indigo waves-effect">
					Settings
				</button>
			</a>

			<a href="<%= WEBSITE_ADMIN_URL %>admin_modules">
				<button type="button" class="btn bg-indigo waves-effect">
					Admin Modules
				</button>
			</a>
			<a href="<%= WEBSITE_ADMIN_URL %>pn_logs">
				<button type="button" class="btn bg-indigo waves-effect">
					Pn logs
				</button>
			</a>
			<a href="<%= WEBSITE_ADMIN_URL %>sms_logs">
				<button type="button" class="btn bg-indigo waves-effect">
					Sms logs
				</button>
			</a>

			<a href="<%= WEBSITE_ADMIN_URL %>email_logs">
				<button type="button" class="btn bg-indigo waves-effect">
					Email logs
				</button>
			</a>
			
			<a href="<%= WEBSITE_ADMIN_URL %>text_group_setting">
				<button type="button" class="btn bg-indigo waves-effect">
					Text Group Settings
				</button>
			</a>
			
			<a href="<%= WEBSITE_ADMIN_URL %>text-setting/admin">
				<button type="button" class="btn bg-indigo waves-effect">
					Text Settings Admin
				</button>
			</a>
		</div>
	</div>
</div>
