<%
  totalProducts   =   (typeof total_products !== typeof undefined && total_products)    ?   total_products   :0;
%>
<!-- <div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div class="icon bg-deep-purple">
                    <i class="material-icons">shopping_cart</i>
                </div>
                <div class="content">
                    <div class="text">Productsssss</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20"><%= totalProducts%></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<%- contentFor("script")%>
    <script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>jquery-countto/jquery.countTo.js" type="text/javascript"></script>