
<%
    var statusType = (typeof status_type !== typeof undefined && status_type)   ?   status_type :"";
    var userType = (typeof user_type !== typeof undefined && user_type) ?   user_type :"";
%>
<div class="container-fluid">
    <!--Search Start -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
                <div class="panel panel-col-pink">
                    <div class="panel-heading" role="tab" id="panel-heading-id">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
                               aria-controls="panel-collapse-id">
                                <i class="material-icons">search</i> <%= __('admin.system.search'); %>
                                <span class="pull-right collapse-toggle-icon"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
                        <form id="searchForm" name="searchForm" >
                            <div class="panel-body">
                                <div class="row clearfix dataTables_wrapper">
                                    <!-- Search by Name -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="column_filter_0"  onkeyup="searchDatatable(0)" placeholder="<%= __('admin.user.search_by_name'); %>" name="name" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Search by Email -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="column_filter_1" onkeyup="searchDatatable(1)" placeholder="<%= __('admin.user.search_by_email'); %>" name="email">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Search by Status -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select class="form-control show-tick search_by_status" id="status_search" name="status">
                                                    <option value=""><%=__("admin.user.search_by_status");%></option>
                                                    <%
                                                    if(typeof USER_STATUS_SEARCH_DROPDOWN!== typeof undefined && USER_STATUS_SEARCH_DROPDOWN.length > 0){
                                                        USER_STATUS_SEARCH_DROPDOWN.map(searchStatus=>{
                                                            var selectedFlag    = (typeof searchStatus.status_type !== typeof undefined && searchStatus.status_type  && searchStatus.status_type == statusType) ? "selected" : "";
                                                            %>
                                                            <option value="<%=searchStatus.status_id%>"  <%=selectedFlag%>><%=searchStatus.status_name%></option>    
                                                        <%      
                                                        });
                                                    } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Search by Date Range -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="date-range-picker" name="search_by_registration_date" placeholder="<%= __('admin.user.search_by_registration_date'); %>" autocomplete="off">
                                            </div>
                                            <input class="form-control hide" id="from_date" type="text" name="from_date" value="">
                                            <input class="form-control hide" id="to_date" type="text" name="to_date" value="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                        <button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'users'%>">
                                            <%= __("admin.system.reset")%>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Search End -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <%= (dynamic_variable) ? dynamic_variable : "";%>
                    </h2>
                    <ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						<li>
							<a href="<%=admin_list_url%>/add" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __("admin.user.add_user"); %>
								</button>
							</a>
						</li>	
					</ul>
                    <!-- Only For Mobile View-->
                    <ul class="header-dropdown m-r--5 visible-xs">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right m-w-200">

                                <li>
                                    <a href="<%=admin_list_url+"/add/"%>">
                                        <i class="material-icons">add</i> <%= __("admin.user.add_user"); %>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><%= __('admin.user.name'); %></th>
                                <th><%= __('admin.user.email'); %></th>
                                <th><%= __('admin.user.phone_number'); %></th>
                                <th><%= __('admin.system.status'); %></th>
                                <th><%= __('admin.system.created'); %></th>
                                <th> <%= __('admin.system.action'); %>  </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Box for reject user detail-->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h4 class="modal-title set-model-header" id="smallModalLabel"><%= __("admin.user.are_you_sure_you_want_to_reject_user_detail"); %></h4>
            </div>
            <form id="message" data-submit-btn-id="message-update-btn-id" method="post" class="on_click_submit"  method="post"  role="form" action="">
                <div class="modal-body" id="assign_status_model">
                    <div class="row clearfix">
                        <div class="col-sm-12 no-bottom-border">
                            <label for="rejection_message" class="control-label"><%= __("admin.user.rejection_message"); %><span class="required"> *</span> </label>
                            <div class="form-grop margin-0">
                                <div class="form-line">
                                    <textarea  id="rejection_message" rows="6" class="resize-none form-control" name="rejection_message"></textarea>
                                </div>
                                <span id="rejection_message_error" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-top">
                    <button type="button"  id="message-update-btn-id" class="noHover btn bg-pink btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> >
                        <i class="material-icons font-14">save</i> <%= __("admin.system.submit"); %>
                    </button>
                    <button type="button" data-dismiss="modal" class="noHover btn bg-grey btn-sm  waves-effect cancel-btn">
                        <i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- contentFor('css') %>
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
    <script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PLUGIN_PATH %>bootstrap-select/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PLUGIN_PATH %>daterange/daterangepicker.js"></script>
    <script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH %>jquery.raty/js/jquery.raty.js"></script>

    <script type="text/javascript">
        /**
        * Function to initialize datatable and get server side data
        */
        var dataTable = "";
        $(document).ready(function() {
            dataTable = $('#datatable-listing').DataTable({
                "bStateSave"    : true,
                "fnStateSave"   : function (oSettings, oData) {
                    localStorage.setItem( 'DataTables', JSON.stringify(oData) );
                },
                "fnStateLoad"   : function (oSettings) {
                    return JSON.parse( localStorage.getItem('DataTables'));
                },
                "order"     :   [[4, "desc" ]],
                "sDom"      : "ltipr",
                "lengthMenu": PAGING_LENGTH_MENU,
                "serverSide": true,
                "scrollX"   : true,
                "columns"   : [
                    {
                        "data": 'full_name'
                    },
                    {
                        "data"      : "email",
                        "orderable" : false,
                        "render"    : function(email){
                            return  (email) ?   '<a href="mailto:'+email+'">'+email+'</a>'  :email;
                        }
                    },
                    {
                        "data"      : "mobile_number",
                        "orderable" : false,
                        "render"    : function(mobileNumber){
                            return "<span class='white-space-nowrap'>"+mobileNumber+"</span>";
                        }
                    },
                    {
                        "data"          : {},
                        "orderable"     : false,
                        "searchable"    : false,
                        "render": function(result){
                            var active          = (result && result.active)      ?  result.active               : "";
                            var isVerified      = (result && result.is_verified) ?  result.is_verified          : "";
                            //var approvalStatus  = (result && result.approval_status) ?    result.approval_status  : "";
                            /** Active Status **/
                            var statusTab   = (active == '<%=ACTIVE%>') ? '<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.inactive")%></span>';
                            statusTab       +=  '<br/>';

                            /** Verified Status **/
                            statusTab   +=  (isVerified == '<%=VERIFIED%>') ?   '<span class="label label-info m-l-5 m-t-5"><%=__("admin.user.email_verified")%></span>': '<span class="label label-warning m-l-5 m-t-5"><%=__("admin.user.email_not_verified")%></span>';
                            statusTab   +=  '<br/>';

                            /** approval Status **/
                            /*if(approvalStatus == '<%=USER_STATUS_PENDING%>'){
                                statusTab   +=  '<span class="label label-info m-l-5 m-t-5"><%=__("admin.user.status_pending")%></span>'
                            }else if(approvalStatus == '<%=USER_STATUS_APPROVED%>'){
                                statusTab   +=  '<span class="label label-success m-l-5 m-t-5"><%=__("admin.user.status_approved")%></span>'
                            }else{
                                statusTab   +=  '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.user.status_rejected")%></span>'
                            }
                            statusTab   +=  '<br/>';*/

                            return statusTab;
                        }
                    },
                    {
                        "data"          :   'created',
                        "searchable"    :   false,
                        "render"        :   function(created){
                            return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
                        }
                    },
                    {
                        "data"          : {},
                        "orderable"     : false,
                        "searchable"    : false,
                        "render"        : function(result){
                            var id              = (result._id)          ? result._id            : "";
                            var status          = (result.active)       ? result.active         : "<%=DEACTIVE%>";
                            var verified        = (result.is_verified)  ? result.is_verified    : "<%=NOT_VERIFIED%>";

                            /** Status Link Label And Class **/
                            var statusLinkText  = (status == '<%= DEACTIVE %>') ? "<%= __('admin.system.activate'); %>"         : "<%= __('admin.system.deactive'); %>" ;
                            var statusLinkTitle = (status == '<%= DEACTIVE %>') ? "<%= __('admin.system.click_to_activate'); %>"  : "<%= __('admin.system.click_to_deactivate'); %>" ;
                            var statusLinkIcon  = (status == '<%= DEACTIVE %>') ? "done"    : "block";

                            /** Verify Link Class **/
                            var verifyClass = (verified == "<%= VERIFIED%>")    ? "hide"    :"";

                            var dropDownButton  =   ''+
                            '<div class="btn-group m-l-5 m-t-5">'+
                                '<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
                                    '<%= __("admin.system.action"); %>'+
                                    ' <span class="caret"></span>'+
                                '</button>'+
                                '<ul class="dropdown-menu min-width-190">'+
                                    /** Edit Link **/
                                    '<li>'+
                                        '<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block">'+
                                            '<i class="material-icons">mode_edit</i>'+
                                            '<%= __("admin.system.edit"); %>'+
                                        '</a>'+
                                    '</li>'+
                                    /** View Link **/
                                    '<li>'+
                                        '<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block">'+
                                            '<i class="material-icons">find_in_page</i>'+
                                            '<%= __("admin.system.view"); %>'+
                                        '</a>'+
                                    '</li>'+
                                    /** Status Link  **/
                                    '<li>'+
                                        '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_user_status/'+id+'/'+status+'/<%=ACTIVE_INACTIVE_STATUS%>" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
                                            '<i class="material-icons">'+statusLinkIcon+'</i>'+
                                            statusLinkText+
                                        '</a>'+
                                    '</li>'+
                                    /** Delete Link */
                                    '<li>'+
                                        '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_delete"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
                                            '<i class="material-icons">delete_sweep</i>'+
                                            '<%= __("admin.system.delete"); %>'+
                                        '</a>'+
                                    '</li>'+
                                    /** Verify Link **/
                                    '<li>'+
                                        '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_verified_user_status/'+id+'"  class="waves-effect waves-block confirm_box '+verifyClass+'" data-confirm-message="<%= __("admin.user.do_you_want_to_verify"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
                                            '<i class="material-icons">assignment_turned_in</i>'+
                                            '<%= __("admin.user.emailverify"); %>'+
                                        '</a>'+
                                    '</li>'+
                                    /** approve user details **/
                                    /*'<li>'+
                                        '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/<%= userType %>/update_user_detail/<%= USER_STATUS_APPROVED %>/'+id+'?redirect=<%=admin_list_url%>/<%= dynamic_url %>"  class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_approve_user"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
                                            '<i class="material-icons">done_all</i>'+
                                            '<%= __("admin.user.approve"); %>'+
                                        '</a>'+
                                    '</li>'+*/
                                    /** reject user details **/
                                    /*'<li>'+
                                        '<a href="javascript:void(0)" data-id ="'+id+'" class="waves-effect waves-block reject-document">'+
                                            '<i class="material-icons">highlight_off</i>'+
                                            '<%= __("admin.system.reject"); %>'+
                                        '</a>'+
                                    '</li>'+*/
                                '</ul>'+
                            '</div>';
                            return dropDownButton;
                        }
                    },
                ],
                "ajax":{
                    url     :   "<%=admin_list_url+"/"+userType+"/"+statusType %>",
                    type    :   "POST",
                    data    :   function (d) {
                        d.fromDate          = $('#from_date').val();
                        d.toDate            = $('#to_date').val();
                        d.status_search     = $('#status_search').val();
                        d.date_type         = '<%= (typeof date_type !== typeof undefined && date_type)?date_type :""; %>';
                    },
                    dataSrc : function(res){
                        return res.data;
                    }
                }
            });


            /**
            * Search by status
            *
            * @param  null
            *
            * @return void
            */
            $(".search_by_status").change(function(){
                dataTable.draw();
            });

        });

        /**
        * Javascript function to search data_table
        *
        * @param  columnNumber as data table column number
        *
        * @return void
        */
        function searchDatatable(columnNumber){
            var query= $('#column_filter_'+columnNumber).val();
            dataTable.column(columnNumber).search(query).draw()
        }//end searchDatatable()

        $(document).on("click",".reject-document",function(){
            var btnDataId  = $(this).data("id");
            var formAction = "<%=admin_list_url%>/<%=user_type%>/update_user_detail/<%=USER_STATUS_REJECTED%>/"+btnDataId;
            $("form#message").attr("action",formAction);
            $("#rejection_message").val("");
            $("#rejection_message_error").text("");
            $("#myModal").modal("show");
        });

        $('.btn-submit').click(function(){
            var btnId   =   $(this).attr('id');
            startTextLoading(btnId);
            ajax_submit("message",function(status,response){
                if(status){
                    window.location.reload();
                }else{
                    stopTextLoading(btnId);
                }
            });
        });
        DATE_RANGE_OPEN_SIDE = "left";

        
    </script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>