
  
<div class="gradient-wrapper">

    <!-- Heading Section Starts -->
    <%- distributors %>
    
    <!-- Heading Section Ends -->

    <!-- Distributor Section Starts -->

    <section class="distributor-section section-padding pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="distributor-content-box">
                        <figure class="dist-map text-center">
                            <!-- us map -->
                            <div id="map" class="map-bg"></div>
                        </figure>
                        <div id="directory" class="distributor-content-shell"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Distributor Section Ends -->

    <!-- Subscription Section Starts -->

    <%- include("../../elements/newsletter.html");%>

    <!-- Subscription Section Ends -->

</div>

	