

<div class="container-fluid" id="main-container">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <%= __('admin.product.add_product'); %>
                    </h2>
                    <ul class="header-dropdown m-r--5 btn-right-top-margin">
                        <li>
                            <a href="<%=admin_list_url%>" >
                                <button type="button" class="btn bg-indigo waves-effect">
                                    <i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <form id="add-product" data-submit-btn-id="product-add-btn-id" method="post" class="on_click_submit" role="form">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="product_name" class="control-label"><%= __('admin.product.product_name'); %> <span class="required"> *</span> </label>
                                        <input name="product_name" id="product_name" type="text" class="form-control"/>
                                    </div>
                                    <span id="product_name_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="sake_meter" class="control-label"><%= __('admin.product.sake_meter'); %><span class="required"> * </span> </label>
                                        <input name="sake_meter" id="sake_meter" type="text" class="form-control"/>
                                    </div>
                                    <span id="sake_meter_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="sake_meter" class="control-label"><%= __('admin.product.sake_meter'); %><span class="required"> * </span> </label>
                                        <input name="sake_meter" id="sake_meter" type="text" class="form-control"/>
                                    </div>
                                    <span id="sake_meter_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="flavor" class="control-label"><%= __('admin.product.flavor'); %><span class="required"> * </span> </label>
                                        <input name="flavor" id="flavor" type="text" class="form-control"/>
                                    </div>
                                    <span id="flavor_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="alcohol_level" class="control-label"><%= __('admin.product.alcohol_level'); %><span class="required"> * </span> </label>
                                        <input name="alcohol_level" id="alcohol_level" type="text" class="form-control"/>
                                    </div>
                                    <span id="alcohol_level_error" class="error"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="acidity_level" class="control-label"><%= __('admin.product.acidity_level'); %><span class="required"> * </span> </label>
                                        <input name="acidity_level" id="acidity_level" type="text" class="form-control"/>
                                    </div>
                                    <span id="acidity_level_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="polish_rate" class="control-label"><%= __('admin.product.polish_rate'); %><span class="required"> * </span> </label>
                                        <input name="polish_rate" id="polish_rate" type="text" class="form-control"/>
                                    </div>
                                    <span id="polish_rate_error" class="error"></span>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="sweetness" class="control-label"><%= __('admin.product.sweetness'); %><span class="required"> * </span> </label>
                                        <select name="sweetness" id="sweetness" class="form-control show-tick">
                                            <option value=""><%=__("admin.product.select_sweetness");%></option>
                                            <%
                                            if(sweetness.length > 0){
                                                sweetness.map(records=>{
                                                    %>
                                                    <option value="<%=records.id%>"><%=records.name%></option>    
                                                <%      
                                                });
                                            } %>
                                        </select>
                                    </div>
                                    <span id="sweetness_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="characteristics" class="control-label"><%= __('admin.product.characteristics'); %><span class="required"> * </span> </label>
                                        <select name="characteristics[]" id="characteristics" class="form-control show-tick" multiple>
                                            <option value=""><%=__("admin.product.select_characteristics");%></option>
                                            <%
                                            if(characteristics.length > 0){
                                                characteristics.map(records=>{
                                                    %>
                                                    <option value="<%=records.id%>"><%=records.name%></option>    
                                                <%      
                                                });
                                            } %>
                                        </select>
                                    </div>
                                    <span id="characteristics_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="body" class="control-label"><%= __('admin.product.body'); %><span class="required"> * </span> </label>
                                        <select name="body" id="body"  class="form-control show-tick">
                                            <option value=""><%=__("admin.product.select_body");%></option>
                                            <%
                                            if(bodies.length > 0){
                                                bodies.map(records=>{
                                                    %>
                                                    <option value="<%=records.id%>"><%=records.name%></option>    
                                                <%      
                                                });
                                            } %>
                                        </select>
                                    </div>
                                    <span id="body_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="pairing_foods" class="control-label"><%= __('admin.product.food_pairing'); %><span class="required"> * </span> </label>
                                        <input name="pairing_foods" id="pairing_foods" type="text" class="form-control" />
                                    </div>
                                    <span id="pairing_foods_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pairing_foods_images" class="control-label"><%= __('admin.product.food_pairing_images'); %><span class="required"> * </span> </label>
                                    <div class="file-group">
                                        <i><img src="https://icon-library.com/images/upload-icon-image/upload-icon-image-12.jpg"></i>
                                        <p class="file-text"><span class="red-text">Browse</span></p>
                                        <input type="file" class="form-control" name="pairing_foods_images" id="pairing_foods_images" multiple="multiple"/>
                                    </div>
                                    <span id="pairing_foods_images_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix"> 
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="product_origin" class="control-label"><%= __('admin.product.origin'); %><span class="required"> * </span> </label>
                                        <input name="product_origin" id="product_origin" type="text" class="form-control"/>
                                    </div>
                                    <span id="product_origin_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label for="product_sheet" class="control-label"><%= __('admin.product.product_sheet'); %><span class="required"> * </span> </label>
                                    <div class="file-group">
                                        <i><img src="https://icon-library.com/images/upload-icon-image/upload-icon-image-12.jpg"></i>
                                        <p class="file-text"><span class="red-text">Browse</span></p>
                                        <input type="file" class="form-control" name="product_sheet"  id="product_sheet"/>
                                    </div>
                                    <span id="product_sheet_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-3-6">
                                <div class="form-group">
                                    <label for="shelf_talker" class="control-label"><%= __('admin.product.shelf_talker'); %><span class="required"> * </span> </label>
                                    <div class="file-group">
                                        <i><img src="https://icon-library.com/images/upload-icon-image/upload-icon-image-12.jpg"></i>
                                        <p class="file-text"><span class="red-text">Browse</span></p>
                                        <input type="file" class="form-control" name="shelf_talker" id="shelf_talker"/>
                                    </div>
                                    <span id="shelf_talker_error" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="description" class="control-label"><%= __('admin.product.description'); %><span class="required"> * </span> </label>
                                        <textarea name="description" id="description"  class="form-control"></textarea>
                                    </div>
                                    <span id="description_error" class="error"></span>
                                </div>
                            </div> 
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <%
                                if(sizes.length > 0){
                                %>
                                <div class="card">
                                    <div class="header">
                                        <h2><%= __('admin.product.product_images_with_product_size'); %> <span class="required"> * </span><span id="size_error" class="error"></span></h2>
                                    </div>
                                    <div class="body">
                                        <div class="table-responsive">
                                            <table class="table table-hover dashboard-task-infos">
                                                <thead>
                                                    <tr >
                                                        <th width="10%">#</th>
                                                        <th width="10%">Size</th>
                                                        <th  width="20%" class="text-center">Upload Image</th>
                                                        <th  width="40%" class="text-center">Uploaded Image</th>
                                                        <th  width="20%" class="text-center">Mark as default</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%
                                                        sizes.map((records, index)=>{
                                                    %>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="checkbox" name="size[<%= index%>][size]" value="<%= records.id%>" id="md_checkbox_12<%= index%>" class="filled-in chk-col-green" />
                                                                <label for="md_checkbox_12<%= index%>"></label>
                                                                <span id="size__<%= index%>_error" class="error"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label><%= records.name%></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="file-group">
                                                                    <i><img src="https://icon-library.com/images/upload-icon-image/upload-icon-image-12.jpg"></i>
                                                                    <p class="file-text"><span class="red-text">Browse</span></p>
                                                                    <input type="file" class="form-control changePhoto" id="product_images_<%= records.id %>" name="product_images_<%= index %>" />
                                                                </div>
                                                                <span id="product_images_<%= index%>_error" class="error"></span>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="form-group add-image">
                                                                <span class="help-inline required banner_image" id="ContentTypeNameSpan">
                                                                    <div id="pImage_<%= records.id %>">
                                                                        <img src="<%=ADD_PROFILE_IMAGE_ICON%>?dim=120x120&type=crop" alt="Banner image" class="profileImage" />
                                                                    </div>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="form-group">
                                                                <input type="radio" name="default_product_image" value="<%= records.id%>" id="md_checkbox_11<%= index%>" class="filled-in chk-col-green" />
                                                                <label for="md_checkbox_11<%= index%>"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <%      
                                                });%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                                <% };%>
                            </div>
                        </div>    
                        <!-------- End Product size and images  -------->

                        <!-------- Start Product serving temperature  -------->
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <%
                                if(serving_temperature_category.length > 0){
                                    %>
                                    
                                    <div class="card">
                                        <div class="header">
                                            <h2><%= __('admin.product.serving_temperature'); %> <span class="required"> * </span><span id="serving_temperature_error" class="error"></span></h2>
                                        </div>
                                        <div class="body">
                                            <div class="table-responsive">
                                                <table class="table table-hover dashboard-task-infos">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Type</th>
                                                            <th>Temperature</th>
                                                            <th>Rating</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%
                                                        serving_temperature_category.map((records, index)=>{
                                                        %>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="checkbox" name="serving_temperature[<%= index%>][category_id]" value="<%= records.id%>" id="md_checkbox_2<%= index%>" class="filled-in chk-col-red" />
                                                                    <label for="md_checkbox_2<%= index%>"></label>  
                                                                    <span id="serving_temperature_category_<%= index%>_error" class="error"> 
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label><%= records.name%></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <select name="serving_temperature[<%= index%>][temperature_id]" class="form-control show-tick">
                                                                            <option value=""><%=__("admin.product.select_serving_temperature");%></option>
                                                                            <%
                                                                            if(serving_temperature.length > 0){
                                                                                serving_temperature.map(records=>{
                                                                                    %>
                                                                                    <option value="<%=records.id%>"><%=records.name%></option>    
                                                                                <%      
                                                                                });
                                                                            } %>
                                                                        </select>
                                                                    </div>
                                                                    <span id="serving_temperature_temperature_<%= index%>_error" class="error"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <select name="serving_temperature[<%= index%>][rating]"  class="form-control show-tick">
                                                                            <option value=""><%=__("admin.product.select_serving_temperature_rating");%></option>
                                                                            <option value="1">1</option> 
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option> 
                                                                            <option value="5">5</option>
                                                                        </select>
                                                                    </div>
                                                                    <span id="serving_temperature_rating_<%= index%>_error" class="error"></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <%      
                                                    });%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                <%      
                                };%>
                            </div> 
                        </div> 
                        <!-------- End Product serving temperature  -------->
                        <button type="button"  id="product-add-btn-id"  <%- ADMIN_LOADING_TEXT %> class="btn bg-pink btn-sm waves-effect btn-submit"><i class="material-icons font-14">save</i> <%= __('admin.system.submit'); %></button>
                        <a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
                        <a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor("css") %>
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css"  />
<%- contentFor("script") %>
    <script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            /**
             * Function to submit form
             */
            $(".btn-submit").click(function(){
                var btnId = $(this).attr("id");
                startTextLoading(btnId);
                submit_multipart_form("add-product",function(status,response){
                    if(status){
                        window.location.href = response.redirect_url;
                    }else{
                        stopTextLoading(btnId);
                    }
                });
            });


            /*** product image Upload*/
            $(document).on("click", ".changePhoto", function(){
                var changePhotoId = $(this).closest("tr").find("input[type='checkbox']").val();
                if(!$(".add-image #product_images_"+changePhotoId).hasClass("added")){
                    $(".add-image #product_images_"+changePhotoId).trigger("click");
                    $(".add-image #product_images_"+changePhotoId).addClass("added");
                    window.setTimeout(function(){
                        $(".add-image #product_images_"+changePhotoId).removeClass("added");
                    },500);
                }

                /***Show user image after select*/
                $("#product_images_"+changePhotoId).on("change", function(){
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                    if (/^image/.test( files[0].type)){
                        // only image file
                        var reader = new FileReader(); // instance of the FileReader
                        reader.readAsDataURL(files[0]); // read the local file
                        reader.onloadend = function(){
                            $("#pImage_"+changePhotoId).html("<img src='"+this.result+"' class='profileImage' >");
                        }
                    }
                    $("span #banner_image_error").text("");
                });
            });

            $("#shelf_talker").on("change", function(){  
                var filename = $("#shelf_talker").val().split('\\').pop();
                $("#shelf_talker_error").text(filename)
            })

            $("#product_sheet").on("change", function(){  
                var filename = $("#product_sheet").val().split('\\').pop();
                $("#product_sheet_error").text(filename)
            })

            $("#pairing_foods_images").on("change", function(){  
                var filename = $("#pairing_foods_images").val().split('\\').pop();
                $("#pairing_foods_images_error").text(filename)
            })
        });
    </script>