
<%
var statusType = (typeof status_type !== typeof undefined && status_type)   ?   status_type :"";
var userType = (typeof user_type !== typeof undefined && user_type) ?   user_type :"";
%>
<div class="container-fluid">
<!--Search Start -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
            <div class="panel panel-col-pink">
                <div class="panel-heading" role="tab" id="panel-heading-id">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
                           aria-controls="panel-collapse-id">
                            <i class="material-icons">search</i> <%= __('admin.system.search'); %>
                            <span class="pull-right collapse-toggle-icon"></span>
                        </a>
                    </h4>
                </div>
                <div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
                    <form id="searchForm" name="searchForm" >
                        <div class="panel-body">
                            <div class="row clearfix dataTables_wrapper">
                                <!-- Search by Name -->
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control" id="column_filter_0"  onkeyup="searchDatatable(0)" placeholder="<%= __('admin.user.search_by_name'); %>" name="name" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <!-- Search by Status -->
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick search_by_status" id="status_search" name="status">
                                                <option value=""><%=__("admin.user.search_by_status");%></option>
                                                <%
                                                if(typeof USER_STATUS_SEARCH_DROPDOWN!== typeof undefined && USER_STATUS_SEARCH_DROPDOWN.length > 0){
                                                    USER_STATUS_SEARCH_DROPDOWN.map(searchStatus=>{
                                                        var selectedFlag    = (typeof searchStatus.status_type !== typeof undefined && searchStatus.status_type  && searchStatus.status_type == statusType) ? "selected" : "";
                                                        %>
                                                        <option value="<%=searchStatus.status_id%>"  <%=selectedFlag%>><%=searchStatus.status_name%></option>    
                                                    <%      
                                                    });
                                                } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                    <button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'products'%>">
                                        <%= __("admin.system.reset")%>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search End -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <%= (dynamic_variable) ? dynamic_variable : "";%>
                </h2>
                <ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
                    <li>
                        <a href="<%=admin_list_url%>/add" >
                            <button type="button" class="btn bg-indigo waves-effect">
                                <i class="material-icons font-14">add</i> <%= __("admin.product.add_product"); %>
                            </button>
                        </a>
                    </li>	
                </ul>
                <!-- Only For Mobile View-->
                <ul class="header-dropdown m-r--5 visible-xs">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right m-w-200">

                            <li>
                                <a href="<%=admin_list_url+"/add/"%>">
                                    <i class="material-icons">add</i> <%= __("admin.user.add_user"); %>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th><%= __('admin.product.product_name'); %></th>
                            <th><%= __('admin.product.category'); %></th>
                            <th><%= __('admin.system.status'); %></th>
                            <th><%= __('admin.system.created'); %></th>
                            <th> <%= __('admin.system.action'); %>  </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<%- contentFor('css') %>
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PLUGIN_PATH %>bootstrap-select/js/bootstrap-select.js"></script>

<script type="text/javascript">
    /**
    * Function to initialize datatable and get server side data
    */
    var dataTable = "";
    $(document).ready(function() {
        dataTable = $('#datatable-listing').DataTable({
            "bStateSave"    : true,
            "fnStateSave"   : function (oSettings, oData) {
                localStorage.setItem( 'DataTables', JSON.stringify(oData) );
            },
            "fnStateLoad"   : function (oSettings) {
                return JSON.parse( localStorage.getItem('DataTables'));
            },
            "order"     :   [[3, "desc" ]],
            "sDom"      : "ltipr",
            "lengthMenu": PAGING_LENGTH_MENU,
            "serverSide": true,
            "scrollX"   : true,
            "columns"   : [
                {
                    "data": 'product_name'
                },
                {
                    "data"      : "category_name",
                    
                },
                {
                    "data"          : {},
                    "orderable"     : false,
                    "searchable"    : false,
                    "render": function(result){
                        var active   = (result && result.is_active)    ?  result.is_active   : "";
                        var popular  = (result && result.is_popular)   ?  result.is_popular  : "";
                        var isSaleOn = (result && result.is_sale_on)   ? result.is_sale_on   : "";

                        /** Active Status **/
                        var statusTab   = (active == '<%=ACTIVE%>') ? '<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.inactive")%></span>';
                        statusTab       +=  '<br/>';
                        statusTab       +=  (popular == '<%=ACTIVE%>') ? '<span class="label label-info m-l-5 m-t-5"><%=__("admin.system.popular")%></span>': '<span class="label label-warning m-l-5 m-t-5"><%=__("admin.system.unpopular")%></span>';
                        statusTab       +=  '<br/>';
                        statusTab       +=  (isSaleOn == '<%=ACTIVE%>') ? '<span class="label label-primary m-l-5 m-t-5"><%=__("admin.system.on_sale")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.sale_off")%></span>';
                        return statusTab;
                    }
                },
                {
                    "data"          :   'created',
                    "searchable"    :   false,
                    "render"        :   function(created){
                        return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
                    }
                },
                {
                    "data"          : {},
                    "orderable"     : false,
                    "searchable"    : false,
                    "render"        : function(result){
                        var id      = (result._id)          ? result._id           : "";
                        var status  = (result.is_active)    ? result.is_active     : "<%=DEACTIVE%>";
                        var popular = (result.is_popular)   ? result.is_popular    : "<%=NOT_POPULAR%>";
                        var isSaleOn= (result.is_sale_on)   ? result.is_sale_on    : "<%=DEACTIVE%>";
                        console.log(isSaleOn, "isSaleOn")
                        /** Status Link Label And Class **/
                        var statusLinkText  = (status == '<%= DEACTIVE %>') ? "<%= __('admin.system.activate'); %>"         : "<%= __('admin.system.deactive'); %>" ;
                        var statusLinkTitle = (status == '<%= DEACTIVE %>') ? "<%= __('admin.system.click_to_activate'); %>"  : "<%= __('admin.system.click_to_deactivate'); %>" ;
                        var statusLinkIcon  = (status == '<%= DEACTIVE %>') ? "done"    : "block";

                        /** Popular Link Label And Class **/
                        var popularLinkText  = (popular == '<%= NOT_POPULAR %>') ? "<%= __('admin.system.popular'); %>"         : "<%= __('admin.system.unpopular'); %>" ;
                        var popularLinkTitle = (popular == '<%= NOT_POPULAR %>') ? "<%= __('admin.system.click_to_popular'); %>"  : "<%= __('admin.system.click_to_unpopular'); %>" ;
                        var popularLinkIcon  = (popular == '<%= NOT_POPULAR %>') ? "done"    : "block";
                        
                        /** Is sale on Link Label And Class **/
                        var isSaleOnLinkText  = (isSaleOn == '<%= DEACTIVE %>') ? "<%= __('admin.system.on_sale'); %>"         : "<%= __('admin.system.sale_off'); %>" ;
                        var isSaleOnLinkTitle = (isSaleOn == '<%= DEACTIVE %>') ? "<%= __('admin.system.click_to_on_sale'); %>"  : "<%= __('admin.system.click_to_off_sale'); %>" ;
                        var isSaleOnLinkIcon  = (isSaleOn == '<%= DEACTIVE %>') ? "done"    : "block";

                        var dropDownButton  =   ''+
                        '<div class="btn-group m-l-5 m-t-5">'+
                            '<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
                                '<%= __("admin.system.action"); %>'+
                                ' <span class="caret"></span>'+
                            '</button>'+
                            '<ul class="dropdown-menu min-width-190">'+
                                /** Edit Link **/
                                '<li>'+
                                    '<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block">'+
                                        '<i class="material-icons">mode_edit</i>'+
                                        '<%= __("admin.system.edit"); %>'+
                                    '</a>'+
                                '</li>'+
                                /** View Link **/
                                '<li>'+
                                    '<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block">'+
                                        '<i class="material-icons">find_in_page</i>'+
                                        '<%= __("admin.system.view"); %>'+
                                    '</a>'+
                                '</li>'+
                                /** Status Link  **/
                                '<li>'+
                                    '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_status/'+id+'/'+status+'/<%=ACTIVE_INACTIVE_STATUS%>" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
                                        '<i class="material-icons">'+statusLinkIcon+'</i>'+
                                        statusLinkText+
                                    '</a>'+
                                '</li>'+
                                /** popular Link  **/
                                '<li>'+
                                    '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_popular_status/'+id+'/'+popular+'/<%=ACTIVE_INACTIVE_STATUS%>" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+popularLinkTitle+'">'+
                                        '<i class="material-icons">'+popularLinkIcon+'</i>'+
                                        popularLinkText+
                                    '</a>'+
                                '</li>'+
                                 /** Is on sale **/
                                 '<li>'+
                                    '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_is_on_sale/'+id+'/'+isSaleOn+'/<%=ACTIVE_INACTIVE_STATUS%>" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+isSaleOnLinkTitle+'">'+
                                        '<i class="material-icons">'+isSaleOnLinkIcon+'</i>'+
                                        isSaleOnLinkText+
                                    '</a>'+
                                '</li>'+
                                /** Delete Link */
                                '<li>'+
                                    '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_delete"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
                                        '<i class="material-icons">delete_sweep</i>'+
                                        '<%= __("admin.system.delete"); %>'+
                                    '</a>'+
                                '</li>'+
                            '</ul>'+
                        '</div>';
                        return dropDownButton;
                    }
                },
            ],
            "ajax":{
                url     :   "<%=admin_list_url%>",
                type    :   "POST",
                data    :   function (d) {
                    d.status_search     = $('#status_search').val();
                },
                dataSrc : function(res){
                    return res.data;
                }
            }
        });
    });

    /**
    * Javascript function to search data_table
    *
    * @param  columnNumber as data table column number
    *
    * @return void
    */
    function searchDatatable(columnNumber){
        var query= $('#column_filter_'+columnNumber).val();
        dataTable.column(columnNumber).search(query).draw()
    }//end searchDatatable()

    /**
    * Search by status
    *
    * @param  null
    *
    * @return void
    */
    $(".search_by_status").change(function(){
        dataTable.draw();
    });

    $('.btn-submit').click(function(){
        var btnId   =   $(this).attr('id');
        startTextLoading(btnId);
        ajax_submit("message",function(status,response){
            if(status){
                window.location.reload();
            }else{
                stopTextLoading(btnId);
            }
        });
    });
    
</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
