<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<div class="row clearfix dataTables_wrapper">
								<!-- Search by Name -->
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_0" onkeyup="searchDatatable(0)" placeholder="<%= __('admin.admin_permissions.search_by_first_name'); %>" name="email">
										</div>
									</div>
								</div>
								<!-- Search by Email -->
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_2" onkeyup="searchDatatable(2)" placeholder="<%= __('admin.admin_permissions.search_by_email'); %>" name="email">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<!-- Start Listing -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.admin_permissions.admin_permissions"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>/add" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __('admin.admin_permissions.add_admin_permissions'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="20%"><%= __("admin.admin_permissions.full_name"); %></th>
								<th width="20%"><%= __("admin.admin_permissions.user_role"); %></th>
								<th width="20%"><%= __("admin.admin_permissions.email"); %></th>
								<th width="10%"><%= __("admin.system.status"); %></th>
								<th width="20%"><%= __("admin.system.modified"); %></th>
								<th width="10%"><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor("script") %>
<script type="text/javascript">
	/** Function to initialize datatable and get server side data*/
	var dataTable ="";
	$(document).ready(function() {
		dataTable 	= 	$('#datatable-listing').DataTable({
			"order"		: 	[[4, "desc"]],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":   PAGING_LENGTH_MENU,
			"columns"	: 	[
				{"data": 'full_name' },
				{
					"data"		: 	'role_name',
					"orderable"	:	false,
				},
				{
					"data"		: 'email',
					"render" 	: function(email){
						return 	(email)	? '<a href="mailto:'+email+'">'+email+'</a>' :email;
					}
				},
				{
					"data"			: "active",
					"field_type"	: "<%= NUMERIC_FIELD %>",
					"render": function(active){
						return (active == "<%=ACTIVE%>")	? '<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.inactive")%></span>';
					}
				},
				{
					"data"			: 'modified',
					"searchable"	: false,
					"render" 		: function(modified){
						return moment(modified).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT);
					}
				},
				{
					"data"			: {},
					"orderable"		: false,
					"searchable"	: false,
					"render" 		: function(result){
						var id 		=	(result._id) 	?	result._id 		:"";
						var status	=	(result.active)	? 	result.active	:"<%=DEACTIVE%>";
						
						/** Status Link  **/
						var statusLinkText  = (status == "<%= DEACTIVE %>") ? "<%= __('admin.system.activate'); %>"				: "<%= __('admin.system.deactive'); %>" ;
						var statusLinkTitle = (status == "<%= DEACTIVE %>") ? "<%= __('admin.system.click_to_activate'); %>"  	: "<%= __('admin.system.click_to_deactivate'); %>" ;
						var statusLinkIcon  = (status == "<%= DEACTIVE %>") ? "done"	: "block";
						
						var dropDownButton 		=	''+
						'<div class="btn-group">'+
							'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %> '+
								'<span class="caret"></span>'+
							'</button>'+
							'<ul class="dropdown-menu">'+
								/** Edit Link **/
								'<li>'+
									'<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block">'+
										'<i class="material-icons">mode_edit</i>'+
										' <%= __("admin.system.edit"); %>'+
									'</a>'+
								'</li>'+
								/** View Link **/
								'<li>'+
									'<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block">'+
										'<i class="material-icons">find_in_page</i>'+
										' <%= __("admin.system.view"); %>'+
									'</a>'+
								'</li>'+
								/** Status Link  **/
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update-status/'+id+'/'+status+'" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.admin_permissions.you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
										'<i class="material-icons">'+statusLinkIcon+'</i>'+
										statusLinkText+
									'</a>'+
								'</li>'+
								/** Send Login Credentials Link **/
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/send_login_credentials/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.admin_permissions.do_you_want_to_send_login_credentials"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
										'<i class="material-icons"> vpn_key </i>'+
										'<%= __("admin.admin_permissions.send_credential"); %>'+
									'</a>'+
								'</li>'+
								/** Delete Link */
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.admin_permissions.you_want_to_delete_this_admin_permissions"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
										'<i class="material-icons">delete_sweep</i>'+
										'<%= __("admin.system.delete"); %>'+
									'</a>'+
								'</li>'+
							'</ul>'+	
						'</div>';	
						return dropDownButton;
					}
				}
			],
			"ajax":{
				url 	: "<%=admin_list_url%>",
				type	: "POST",
				dataSrc	: function(res){
					return res.data;
				}
			}
		});
	});
	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()
</script>
